.AppHeader {
    position: absolute;
    background: steelblue;
}

.AppHeader-logo {
    position: absolute;
    top: 8px;
    left: 16px;
    height: 64px;
    width: auto;
}

.AppHeader-title {
    position: absolute;
    left: 40%;
    line-height: 80px;
    vertical-align: middle;
    font-family: Georgia, serif;
    font-size: 48px;
}
.AppHeader-maintitle {
    color: floralwhite;
}
.AppHeader-subtitle {
    color: lightsteelblue;
}

.AppFooter {
    background: steelblue;
    color: lightsteelblue;
    font-family: Verdana, sans-serif;
    text-align: center;
}
