.AppHeader {
    background: steelblue;
}

.AppHeader-logo {
    height: 64px;
    width: auto;
    margin-right: 32px;
    line-height: 64px;
    vertical-align: middle;
    display: inline-block;
}

.AppHeader-title {
    font-family: Georgia, serif;
    font-size: 48px;
    vertical-align: middle;
}
.AppHeader-maintitle {
    color: floralwhite;
}
.AppHeader-subtitle {
    color: lightsteelblue;
}

.AppFooter {
    background: steelblue;
    color: lightsteelblue;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.MessagesPane {
    width: 60%;
    background: lightsteelblue;
}