.PageContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.PageHeader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    overflow: hidden;
}

.LeftPane {
    position: absolute;
    top: 80px;
    left: 0;
    width: 40%;
    bottom: 32px;
}

.RightPane {
    position: absolute;
    top: 80px;
    left: 40%;
    right: 0;
    bottom: 32px;
}

.PageFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    overflow: hidden;
}
